@import "../../styles/variables";

.count-timer{
    display: flex;
    direction: ltr;
    align-self: center;
    justify-content: center;
    & span{
        margin-right: 4px;
        font-size: 14px;
        color: $greenColor;
    }
    & img{
        margin-inline-start: 8px;
        width: 13px;
        height: 15px;
    }
}