*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'NeoSans';
  src: url("/public/fonts/NeoSansArabicLight.ttf");
}

@font-face {
  font-family: 'DinText';
  src: url("/public/fonts/din-next-lt-w23-regular.ttf");
}

.App{
  font-family: NeoSans, serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #F2F2F8;
  direction: rtl;
}

a{
  text-decoration: none;
}